.container-3{
    border: 1px solid black;
    text-align: center;
    margin: 0 auto;
    width: 80%;
}

.flex-box-rps{ 
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}


.flex-box-rps img:hover{
    box-shadow: 0px 10px 50px rgb(94, 52, 52);
    padding: 10px;
}