.container-1{
    border: 1px solid black;
    text-align: center;
    margin: 0 auto;
    width: 60%;
}

.flex-box-container-1{ 
    display:flex;
    padding:10px ;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.flex-box-container-1 div{
    display: flex;
    padding: 10px; 
    align-items: center; 
}